/config.py
/.venv/
/.env
/test/project_1/
/tools.py
/test_judge.py
/chromedriver.exe
/geckodriver.exe
/msedgedriver.exe
/inspect.exe
/log/
/csvtojson.py
/NLPROMPT.xlsx
/NLPROMPT.csv
/test/
/project_files.json
/test_answer.py
/wasted.py
/trash/
/test_ollama.py
/test_stage.py
/test_subprocess.py
/test_masker.py
/experiments/
/json_merge.py
/test_answer2.py
/config.ini
/test_indicators.py
/test_judge2.py
/rebuttal/
/data/crash_save/
/data/llama/
/data/generation-20240730-185448.json
/data/generation-20240730-185448-test-1.json
/data/parameter_answer_save/
/data/操作版本/
/data/framework/
/data/可用版本/
/data/Dataset-20240924-1728.json
/data/generation-20240730-185448-test-2.json
/data/generation-console.json
/data/generation-console-test.json
/data/generation-last-10.json
/data/generation-project-11-15-and-20.json
/data/generation_test.json
/data/generation_test_multi.json
/data/gpt-4o-mini_20240725-175352.json
/data/gpt-4o-mini_20240725-人工修正.json
/data/gpt-4o_20240731-143756.json
/data/gpt-4o_20240731-143756-人工修正.json
/data/gpt-4o_20241113-144554.json
/data/ProjectEval Data.zip
/images/full.drawio
/images/full.png
/images/procedure.drawio
/images/procedure.png
/images/reasoning.png
/images/reasoning.svg
/config-backup.ini
/test_vllm.py
/test_start_js.py
